@import './colors';

$themes: (
  light: (
    main-background-color: $light-main-background-color,
    main-color: $light-main-color,
    text-field-unhighlighted-color: $light-text-field-unhighlighted-color,
    title-bar-background-color: $light-title-bar-background-color,
    title-bar-color: $light-title-bar-color,
    title-bar-button-color: $light-title-bar-button-color,
    title-bar-button-highlight-color: $light-title-bar-button-highlight-color,
    footer-bar-color: black
  ),
  dark: (
    main-background-color: $dark-main-background-color,
    main-color: $dark-main-color,
    text-field-unhighlighted-color: $dark-text-field-unhighlighted-color,
    title-bar-background-color: $dark-title-bar-background-color,
    title-bar-color: $dark-title-bar-color,
    title-bar-button-color: $dark-title-bar-button-color,
    title-bar-button-highlight-color: $dark-title-bar-button-highlight-color,
    footer-bar-color: lightgrey
  )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
};

@function themed($key) {
  @return map-get($theme-map, $key);
}