.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 20px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 15px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.25s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #007bff;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
  float: right;
}

.toggle-container > span {
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
  //transition: color 0.25s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}
