@import "./../../../../styles/themes";

.Doc-Container {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease;
  font-size: 14px;
  transition: border-color 0s ease;
  
}

.NOT_DRAGGING {
  @include themify($themes) {
    background-color: themed('main-background-color');
  }
}

.DRAGGING {
  @include themify($themes) {
    background-color: themed('list-item-dragging-background-color');
  }
}