body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title-bar {
  height: 40px;
  background-color: #282c34;
  z-index: 100;
}

.windowContainer {
  height: 80%;
  max-width: none;
  width: 100%;
  margin: 40px 0 55px 0;
}

#footer-bar {
  min-height: 50px;
  background-color: #282c34;
  bottom: 0;
  z-index: 100;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  margin-bottom: inherit inherit 10px inherit;
  height: auto;
  top:0;
  vertical-align: top;
}

.form {
  height: 100%;
  vertical-align: top;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  margin-top: 0px;
}

.App-link {
  color: 'darkgrey';
  font-size: 16px;
}

.submitButton {
  width: 100%;
}

.browseButtonCol {
  align-items: right;
  align-content: right;
  text-align: right;
}

.browseButton {
  align-self: right;
  align-items: right;
  align-content: right;
  text-align: right;
  border: none;
  font-size: 14px;
  margin-bottom: 3px;
  height: 90%;
  width: 80px;
}

.dragDropContextRow {
  min-height: 40px;
  width: 100%;
}
.sc-bwzfXH.cvTfvn {
  min-height: 80px;
  min-width: 100%;
}

.sourceFilesFormGroup {
  margin-bottom: 5px;
}

.sourceFilesField {
  min-height: 40px;
  height: auto;
}

.textFieldLabel {
  font-size: initial;
}

.textField,
.textField:focus,
.textField:hover,
.textField:active {
  background: none;
  font-size: initial;
  border-color: darkgrey;
  color: white
}

.textField::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgrey;
}
.textField::-moz-placeholder { /* Firefox 19+ */
  color:darkgrey;  
}
.textField:-ms-input-placeholder { /* IE 10+ */
  color: darkgrey; 
}
.textField:-moz-placeholder { /* Firefox 18- */
  color: darkgrey; 
}

.dropDown:focus {
  color: white;
  background-color: #282c34;
}

.dropDown:active {
  color: white;
  background-color: #282c34;
}

.dropDown:focus:active:hover {
  color: white;
  background-color: #282c34;
}

.form-row>[class*=col-].submittedJobsCol {
  padding-left: 30px;
}

.textField,
.textField:focus,
.textField:hover,
.textField:active {
  font-size: 14px;
}