@import "./../../../styles/themes";

.authMain {
  padding-top: 0px;
}

.authMain .form {
  width: 250px;
}

.App-link-row {
  padding-top: 20px;
  padding-left: 10px;
}

.linkSeparator {
  padding: 0 10px;
  @include themify($themes) {
    color: themed('text-field-unhighlighted-color');
  }
  font-size: 16px;
}

.authMain > Form {
  padding-top:120px;
}