.submittedJobsListGroup {
  background: none;
  text-align: left;
}

.submittedJobsListGroupItem {
  background: none;
}

.list-group-item {
  background: none;
  font-size: 14px;
}

.textFieldLabel {
  top: 0;
  vertical-align: top;
}

.scrollBars {
  width:'100%';
  height:'110%';
  top:0;
  position:absolute;
  margin-bottom:10px;

}

.submittedJobsListGroup {
  top: 0;
  vertical-align: top;
}